@tailwind preflight;
@tailwind components;
@tailwind utilities;

/* purgecss ignore start */
html,
body {
  max-height: 100vh;
  height: 100%;
  margin: 0;
  background-color: config('colors.black')
}

#app {
  display: flex;
}

.font-charm {
  font-family: 'Charm';
}
/* purgecss ignore stop */